parameters:
    database_name: postgres_test
    database_password: postgres_test
    database_user: postgres_test
    database_host: localhost
    database_port: 5432

    jwt_key_pass_phrase:  test
    user_name: admin
    user_name_new: R.Admin
    user_password: 'pass'
    user_email: 'admin@example.com'
    root_group_name: 'root'
    another_group_name: 'another'
    another_user_name: 'anotheruser'

    ftp_host: test
    ftp_user: test
    ftp_password: test

    logging: false
    profiling: false





